#body1{
  width:100%;
  height:100%;
  background-image:url(img/背景.gif);
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
}
.title{
  font-family:STXinwei;
  font-size:100px;
  color:white;
  text-align:center;
  padding-top:230px;
  background:linear-gradient(to right,#1E90FF,#FF00FF);
  -webkit-background-clip:text;
  color:transparent;
  text-shadow:0px 0px 50px #FFF68F;
  cursor:default;
}
#checkbox:checked~.nav{
  display:block;
}
#checkbox{
  display:none;
}
.nav{
  display:none;
}
.button1{
  width:100px;
  height:30px;
  background-color:#FFF68F;
  float:left;
  text-align:center;
  border-radius:10px;
  padding-top:5px;
  cursor:pointer;
}
